<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.user.biz.domain.mapper.UserDOMapper">
    <insert id="insert" parameterType="com.aoao.xiaoaoshu.user.biz.domain.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (id,phone, xiaohashu_id, nickname, password, status)
        VALUES (#{user.id},#{user.phone}, #{user.xiaoaoshuId}, #{user.nickname}, #{user.password}, #{user.status})
    </insert>
</mapper>
