<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.auth.domain.mapper.PermissionDOMapper">

    <select id="findPermissonByPhone" resultType="java.lang.String">
        SELECT permission_key AS permission
        FROM t_user u
                 LEFT JOIN t_user_role_rel ur ON u.id = ur.user_id AND u.is_deleted = 0
                 LEFT JOIN t_role r ON r.id = ur.role_id AND ur.is_deleted = 0
                 LEFT JOIN t_role_permission_rel rp ON r.id = rp.role_id AND r.is_deleted = 0
                 LEFT JOIN t_permission p ON rp.permission_id = p.id AND rp.is_deleted = 0
        WHERE p.is_deleted = 0
          AND u.phone = #{phone}
    </select>
    <select id="selectByRoleIds" resultType="com.aoao.xiaoaoshu.auth.model.dto.RolePermissionDTO">
        SELECT r.id roleId,p.*
        FROM t_permission p
                 LEFT JOIN t_role_permission_rel rp ON p.id = rp.permission_id AND p.is_deleted = 0
                 LEFT JOIN t_role r ON rp.role_id = r.id AND rp.is_deleted=0
        WHERE r.id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
