<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.auth.domain.mapper.RoleDOMapper">

    <select id="findRoleByPhone" resultType="java.lang.String">
        SELECT role_key AS role
        FROM t_user u
                 LEFT JOIN t_user_role_rel ur ON u.id = ur.user_id AND u.is_deleted = 0
                 LEFT JOIN t_role r ON r.id = ur.role_id AND ur.is_deleted = 0
        WHERE r.is_deleted = 0
          AND u.phone = #{phone}
    </select>
</mapper>
