<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.relation.biz.domain.mapper.FansDOMapper">

    <insert id="insert">
        insert into t_fans (user_id, fans_user_id, create_time)
        values (#{fansDO.userId}, #{fansDO.fansUserId}, #{fansDO.createTime})
    </insert>
    <delete id="deleteByUserIdAndFansUserId">
        delete
        from t_fans
        where fans_user_id = #{fansId}
          and user_id = #{unfollowUserId}
    </delete>
</mapper>
