<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.relation.biz.domain.mapper.FollowingDOMapper">
    <insert id="insert">
        insert into t_following (user_id, following_user_id, create_time)
        values (#{followingDO.userId}, #{followingDO.followingUserId}, #{followingDO.createTime})
    </insert>
    <delete id="deleteByUserIdAndFollowingUserId">
        delete
        from t_following
        where user_id = #{userId}
          and following_user_id = #{unfollowUserId}
    </delete>


    <select id="selectByUserId" resultType="com.aoao.xiaoaoshu.relation.biz.domain.entity.FollowingDO">
        select *
        from t_following
        where user_id = #{userId}
    </select>
    <select id="selectCountByUserId" resultType="long" parameterType="long">
        select count(1) from t_following where user_id = #{userId}
    </select>
    <select id="selectPageListByUserId" resultType="com.aoao.xiaoaoshu.relation.biz.domain.entity.FollowingDO">
        select following_user_id from t_following
        where user_id = #{userId} order by create_time desc limit #{offset}, #{limit}
    </select>
    <select id="selectAllByUserId" resultType="com.aoao.xiaoaoshu.relation.biz.domain.entity.FollowingDO">
        select following_user_id, create_time from t_following
        where user_id = #{userId} limit 1000
    </select>
</mapper>
