<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.xiaoaoshu.relation.biz.domain.mapper.FollowDOMapper">


    <select id="selectByUserId" resultType="com.aoao.xiaoaoshu.relation.biz.domain.entity.FollowingDO">
        select *
        from t_following
        where user_id = #{userId}
    </select>
</mapper>
